<%= stylesheet_link_tag "mailers/request_registration.css", media: "all" %>
<p class="message"><%= t('mailers.user_mailer.request_registration.dear', last_name: @temp_user.last_name, first_name: @temp_user.first_name) %></p>
<pre class="message"><%= t('mailers.user_mailer.request_registration.message') %></pre>
<div class="btn">
    <%= link_to t('mailers.user_mailer.request_registration.button'), {controller: 'account', action: 'regist', token: @temp_user.token } %>
</div>