/** not display scrollbar */
html::-webkit-scrollbar {
    display: none;
}

.yield {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.text-primary {
    color: #ff0018 !important;
    font-weight: bold;
}

.help-block {
    font-size: xx-small;
    margin: initial;
    color: #007bff;
}