.navbar-brand.mb-0.h1 a {
    text-decoration: none;
}

.dropdown-menu.dropdown-menu-right {
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: initial;
    border-style: dashed;
    padding: initial;
    margin: 8px 0 8px 0;
}

.dropdown-item-text {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.dropdown-item-text:hover {
    color: rgba(255, 255, 255, 0.75);
}

.dropdown-item-text.dropdown-active {
    color: rgba(255, 255, 255, 1.0) !important;
}