video {
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
}

.forget-password {
    margin-top: 10px;
    text-align: end;
}

.img-habilidad {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.relative-next {
    align-items: center;
    justify-content: center;
    position: relative;
}

.relative-next .card {
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    margin: 0 auto 25px;
    margin-top: 50px;
    padding: 20px 20px;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.use-fontawesome {
    text-decoration: inherit;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.use-fontawesome.btn.btn-dark {
    margin-top: 10px;
    width: 100%;
}

#label_sign_in {
    margin-bottom: 20px;
}

#remember_me + label {
    margin-bottom: initial;
}
