/** Google Font **/
@import url('https://fonts.googleapis.com/css?family=Kodchasan|M+PLUS+Rounded+1c&display=swap');

body {
    margin: 0;
    padding: 0;
}

.yield {
    margin: 0 0.7em 0 0.7em;
}

.header h1 {
    font-family: 'Kodchasan', sans-serif;
    margin: 0.5em 0 0.5em 0;
    text-align: center;
}

.footer pre {
    font-family: 'Kodchasan', sans-serif;
    font-size: small;
    text-align: center;
}