.btn a {
    background-color: #777777;
    border: 1px solid #000000;
    border-radius: 0.65em;
    color: #000000;
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0.5em 0 0.5em 0;
    padding: 0.3em;
    text-align: center;
    text-decoration: none;
}

.btn a:hover {
    background-color: #999999;
}

.message {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
}

.message {
    margin: initial;
    text-align: center;
}