.card {
    margin-bottom: 10px;
}

table tr a {
    display: block;
    width: 100%;
    height: 100%;
}

table tr a:hover {
    text-decoration: none;
}

.text-center {
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.form-timestamp {
    background-color: #e9ecef;
}

.datetimepicker-input {
    border-radius: 0.25rem !important;
}