<script>
    $(document).ready(function () {
        $('#navbarNav li').removeClass('active');
    });
</script>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">habilidad</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li id="businesses_nav" class="nav-item">
                <%= link_to t('businesses.index.title'), businesses_path, class: "nav-link" %>
            </li>
            <li id="clients_nav" class="nav-item">
                <%= link_to t('clients.index.title'), clients_path, class: "nav-link" %>
            </li>
            <li id="certifications_nav" class="nav-item">
                <%= link_to t('certifications.index.title'), certifications_path, class: "nav-link" %>
            </li>

        </ul>
    </div>
</nav>