<%= stylesheet_link_tag "commons/error_messages.css", media: "all" %>
<% if model.errors.any? %>
<div class="alert alert-warning">
    <ul>
        <% model.errors.full_messages.each do |message| %>
        <li class="small"><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>